<div id="login" class="row">
  <div class="large-6 large-offset-3">
    <form data-ng-submit="vm.login()">
      <fieldset class="radius">
        <div class="row">
          <div class="large-6 columns">
            <input type="text" name="username" placeholder="username" data-ng-model="vm.credentials.username" required/>
          </div>
            <div class="large-6 columns">
              <input type="password" name="password" placeholder="password" data-ng-model="vm.credentials.password" required/>
          </div>
        </div>

        <div class="row">
          <div class="large-12 columns">
            <button id="log-in" type="submit" class="button large expand radius">Log In</button>
          </div>
        </div>
      </fieldset>
    </form>
  </div>
</div>
